<% if @complaint && @complaint.bully.present? %>
  <div class="jumbotron">
    <h2>Is <%= @complaint.bully.username %> bothering you?</h2>
    <p>Don't be shy</p>
  </div>

  <%= render partial: 'cool_down_bro/form', locals: { complaint: @complaint } %>
<% else %>
  <div class="jumbotron">
    <h2>It seems like nobody is bothering you...</h2>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= render partial: 'cool_down_bro/complaints' %>
    </div>
    <div class="col-lg-3">
      <%= render partial: 'cool_down_bro/bullies' %>
    </div>
  </div>
</div>

