<% if @complaint && @complaint.bully.present? %>
  <div class="jumbotron">
    <h2>Is <%= @complaint.bully.username %> bothering you?</h2>
    <p>Don't be shy</p>
  </div>

  <%= render partial: 'cool_down_bro/form', locals: { complaint: @complaint } %>
<% else %>
  <div class="jumbotron">
    <h2>It seems like nobody is bothering you...</h2>
  </div>
<% end %>

<div class="complaints container">
  <h3>Existing complaints...</h3>
  <table class="table table-bordered table-stripe">
    <thead>
      <tr>
        <th>Message</th>
        <th>Bully</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'complaint', collection: @complaints %>
    </tbody>
  </table>
</div>

